/* This is some default styling for the exercise */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  clear: both;
  height: auto; }

.container > .block {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-basis: 30em;
  -ms-flex-preferred-size: 30em;
  -webkit-flex-basis: 30em;
  flex-basis: 30em;
  padding: 0 1rem; }

/* c/o http://www.sketchingwithcss.com/samplechapter/cheatsheet.html */
.container .row-wrap {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; }

.container .row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row; }

.container .center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-line-pack: end;
  -webkit-align-content: flex-end;
  align-content: flex-end; }

.container .row {
  -ms-flex-wrap: row wrap;
  -webkit-flex-wrap: row wrap;
  flex-wrap: row wrap; }

.container .col {
  -ms-flex-wrap: col wrap;
  -webkit-flex-wrap: col wrap;
  flex-wrap: col wrap; }

/*screen is smaller than 560px*/
@media (max-width: 35em) {
  .left-nav, .right-nav {
    display: none; }
  .vNav {
    display: none; }
  #sticky-logo {
    top: 22%;
    width: 6%;
    left: 2%; }
  .hero-icons {
    height: 40%; }
    .hero-icons .material-icons {
      font-size: 15px; }
    .hero-icons .nc-icon {
      width: 20px; }
  .hero-link {
    margin: 3% 3% 0 3%; }
  .my-name {
    padding-left: 10%; }
  .typed-text, .hero-icons {
    padding-left: 10%;
    -webkit-box-pack: left;
    -webkit-justify-content: left;
    -ms-flex-pack: left;
    justify-content: left; }
  .project-content {
    padding-left: 0;
    width: 100%; }
  .header-overview {
    margin-bottom: 0; }
  .footer-personalInfo {
    width: 100%;
    margin: 5% 5% 8% 5%; }
  .footer-listing {
    width: 25%; }
  .top-link {
    bottom: 18.25em; }
  .outlinks {
    font-size: 0.8rem; }
  .indented {
    margin: 15% 1% 2rem 1%; } }

/*half-media area resizes earlier at 720px*/
@media (max-width: 50em) {
  .head-1 {
    font-size: 200%; }
  .head-3 {
    font-size: 80%; }
  .half-img, .half-text {
    width: 100%; }
  .grids-3 {
    max-width: 100%;
    height: auto; }
  .amorphous-cat-gif {
    max-width: 100%; }
  .half-text {
    margin: 0 4% 4% 0%; }
  .about-text {
    padding: 0;
    padding-left: 10%; }
  .about-img {
    width: 100%;
    max-width: 20rem; }
  #featured, #about {
    height: auto; }
  .featured-description {
    margin: 25% 0 30% 10%; }
  .proj-article {
    max-width: 100%;
    height: auto; }
  iframe {
    height: 20rem; }
  #top #amorphous-header, #top #beep-header,
  #bg-amorphous, #bg-beep,
  .header-text {
    width: 100%; }
  #top #amorphous-header, #top #beep-header {
    height: 80vh; }
  #beep-header:before,
  #amorphous-header:before {
    display: none; }
  .header-text {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    padding-left: 0;
    padding: 0 5%; }
    .header-text .head-1 {
      padding-top: 10%; }
  .header-details {
    padding-top: 10%; } }
