/* This is some default styling for containers */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  clear: both;
  height: auto;
}

.container > .block {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-basis: 30em;
  -ms-flex-preferred-size: 30em;
  flex-basis: 30em;
  padding: 0 1rem;
}
/* c/o http://www.sketchingwithcss.com/samplechapter/cheatsheet.html */
.container .row-wrap {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.container .row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.container .center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: end;
  align-content: flex-end;
}

// for styleguide's scenario: resize at 400px (very small screen)
@media (max-width: 25em) {
  #styleguide .sticky-logo {
    position: relative;
    width: 10%;
    opacity: 0.9;
    margin-left: 45%;
    margin-top: 5%;
  }
}

/*screen is smaller than 560px*/
@media (max-width: 35em) {

  .left-nav,
  .right-nav {
    display: none;
  }

  #styleguide .left-nav {
    display: flex;
  }

  .vNav {
    display: none;
  }

  #sticky-logo {
    top: 27%;
    width: 20px;
    left: 3%;

    &:hover {
      width: 23px;
    }
  }
  // for the styleguide version
  #styleguide .sticky-logo {
    top: 22%;
    width: 6%;
    left: 2%;
  }

  .hero-icons {
    height: 40%;

    .material-icons {
      font-size: 15px;
    }

    .nc-icon {
      width: 15px;
    }
  }

  .hero-link {
    margin: 3% 3% 0;
  }

  .my-name {
    padding-left: 10%;
  }

  .hero-icons,
  .typed-text {
    padding-left: 10%;
    justify-content: left;
  }

  .project-content {
    padding-left: 0;
    width: 100%;
  }

  .footer-personalInfo {
    width: 100%;
    margin: 0 5%;
    padding-bottom: 2rem;
  }

  .footer-listings-section {
    width: 100%;
    margin: 0 5%;
    padding-bottom: 2rem;
  }

  .footer-listing {
    width: 23%;
  }

  // .top-link {
  //   bottom: 16.25em;
  // }

  .outlinks {
    font-size: 0.8rem;
  }

  .indented {
    margin: 15% 1% 2rem;
  }

  .code-block {
    width: 100%;
  }

  body #styleguide {
    margin: 5%;
  }

  #styleguide .square {
    width: 50%;
  }

  #projects .project-header {
    padding-left: 10%;
  }

  body .styleguide-title {
    padding: 30% 0 10% 10%;
  }

  body #citation {
    padding: 20% 0 0 10%;
  }

  .wide-text{
    width: 100%;
    max-width: 100%;
    padding-top:1rem;
  }
}


/*media resizing at 720px*/
@media (max-width: 50em) {
  .head-1 {
    font-size: 200%;
    // max-width: auto;
  }

  .head-3 {
    font-size: 60%;
  }

  .half-img,
  .half-text {
    width: 100%;
  }

  .grids-2 {
    max-width: 50%;
    height: auto;
  }

  .grids-3 {
    max-width: 100%;
    height: auto;
  }

  #animation .amorphous-cat-gif {
    max-width: 100%;
  }

  .half-text {
    margin: 0 4% 4% 0;
  }

  .about-text {
    padding: 0 0 0 10%;
  }

  .about-img {
    width: 100%;
    max-width: 20rem;
  }

  #about,
  #featured {
    height: auto;
  }

  .featured-description {
    margin: 25% 0 30% 10%;
  }

  .proj-article {
    max-width: 100%;
    height: auto;
  }

  #projects .project-row {
    min-height: 150vh;
  }

  iframe {
    height: 20rem;
  }

  #top #beep-header,
  #top #beep2-header,
  #top #brg-header,
  #top #m2m-header,
  #top #lunular-header,
  #top #illustration-header,
  #top #cycle-header,  #top #eyexpo-header,
  #top #evidentp-header,
  .header-project #amorphous-header,
  .header-text {
    width: 100%;
  }

  #bg-amorphous,
  #bg-beep,
  #bg-illus,
  #bg-banners,#bg-eyexpo,
  #bg-evidentp,#bg-brg,
  #bg-lunular, #bg-m2m,
  #styleguide #bg-beep-1 {
    width: 100%;
    min-height: 10rem;
  }

  #top #amorphous-header,
  #top #beep-header,
  #top #beep2-header,
  #top #lunular-header,
  #top #brg-header,
  #top #m2m-header,
  #top #cycle-header,
  #top #eyexpo-header,
  #top #illustration-header,
  #top #evidentp-header {
    min-height: 70vh;
    max-height: 70vh;

  }

  #amorphous-header:before,
  #beep-header:before,
  #beep2-header:before,
  #brg-header:before,
  #m2m-header:before,
  #lunular-header:before,
  #eyexpo-header:before,
  #evidentp-header:before,
  #cycle-header:before {
    display: none;
  }

  #bg-illus {
    background-size: 60%;

    &:hover {
      background-size: 65%;
    }
  }

  .header-overview {
    margin-bottom: 0;
  }

  .header-text {
    order: 2;
    padding: 0 5%;
    margin-bottom: 15%;
    .head-1 {
      padding-top: 10%;
    }
  }

  .header-details {
    padding-top: 5%;
  }

  .img2-block, .img3-block, .img4-block{
    width: 100%;
    // background-size: contain;
  }

  .scroll-down {
    visibility: hidden;
    display: none;
  }

  .footer-link{
  font-size: 0.7rem;
  }

  .grid{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    width:calc(50% - 2rem);
  }
  .step-short{
    width: 100%;
  }

  #projects .project-header {
    margin: 25% 5% 11% 10%;
        max-width: 25rem;
        font-size: 250%;
  }
}

// changing project row title
// larger than 800px, less than 1476 px:

@media only screen and (min-width : 800px) and (max-width: 1475px){

#projects .project-header {
  font-size: 120%;
    writing-mode: vertical-lr;
    text-orientation: inherit;
  }
}
