/* ------------- variables ------------- */
body {
  position: relative; }

header {
  width: 100%; }

iframe {
  width: 100%;
  height: 100%;
  border: none; }

#top {
  position: relative; }

#amorphous-header {
  background-image: url(../img/amorphous/preview.png);
  top: 0;
  left: 0;
  width: 65%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative; }

#beep-header {
  background-image: url(../img/beep/preview.jpg);
  top: 0;
  left: 0;
  height: 100vh;
  width: 65%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative; }

#illustration-header {
  background-image: url(../img/illustrations/Roundumbrellagirl.jpg);
  top: 0;
  left: 0;
  height: 100vh;
  width: 65%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative; }

[class*="illus-"] {
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  background-position: center;
  margin: 3% 1%;
  background-size: cover;
  width: 23%;
  height: 30rem;
  border: solid 1px lightgrey;
  -webkit-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  transition: 0.6s ease; }
  [class*="illus-"]:hover {
    -webkit-box-shadow: 5px 5px 10px rgba(118, 143, 165, 0.47);
    box-shadow: 5px 5px 10px rgba(118, 143, 165, 0.47);
    -webkit-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    transition: 0.6s ease; }

.illus-1 {
  background-image: url(../img/illustrations/12kyoko.jpg); }

.illus-2 {
  background-image: url(../img/illustrations/blknpurp.jpg); }

.illus-3 {
  background-image: url(../img/illustrations/jojo.jpg); }

.illus-4 {
  width: 48%;
  height: 20rem;
  background-image: url(../img/illustrations/internalized.png); }

.illus-5 {
  width: 48%;
  height: 20rem;
  background-image: url(../img/illustrations/dogtooth.jpg); }

.illus-6 {
  width: 30%;
  background-image: url(../img/illustrations/cryingboy.jpg); }

.illus-7 {
  width: 30%;
  background-image: url(../img/illustrations/Roundumbrellagirl.jpg); }

.illus-8 {
  width: 30%;
  background-image: url(../img/illustrations/n04.jpg); }

.illus-9 {
  background-image: url(../img/illustrations/p3.jpg); }

.illus-10 {
  height: 20rem;
  background-size: contain;
  background-image: url(../img/comics/lp1.jpg); }

.illus-11 {
  height: 20rem;
  background-size: contain;
  background-image: url(../img/comics/lp2.jpg); }

.illus-12 {
  height: 20rem;
  background-size: contain;
  background-image: url(../img/comics/lp3.jpg); }

.illus-13 {
  height: 20rem;
  background-size: contain;
  background-image: url(../img/comics/lp4.jpg); }

.header-text {
  width: 35%;
  padding-left: 10%;
  position: relative;
  background: white;
  height: 100%; }
  .header-text .head-1 {
    position: relative;
    z-index: 100;
    padding-top: 50%; }

.header-overview {
  font-size: 0.8rem;
  margin-bottom: 25%; }

.header-details {
  padding-top: 10%;
  background: white;
  color: grey;
  font-size: 0.8rem;
  padding-right: 3%; }
  .header-details li {
    padding-bottom: 0.5rem; }

.header-project {
  -webkit-box-shadow: 5px 5px 10px rgba(118, 143, 165, 0.47);
  box-shadow: 5px 5px 10px rgba(118, 143, 165, 0.47); }

#beep-header:before,
#amorphous-header:before {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 100vh;
  border-left: 8vh solid #ffffff;
  border-top: 50vh solid transparent;
  border-bottom: 50vh solid transparent; }

.centered .outlinks {
  color: white;
  margin-left: 5%; }

.left-nav {
  position: fixed;
  top: 2.2rem;
  left: 2%;
  z-index: 10;
  display: inline-block;
  max-width: 10rem;
  opacity: 0.5;
  -webkit-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  transition: 0.6s ease; }
  .left-nav:hover {
    opacity: 0.9;
    -webkit-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    transition: 0.6s ease; }
  .left-nav .nc-icon {
    width: 40px;
    height: auto; }
  .left-nav .home-link, .left-nav .home-link:visited {
    font-size: 0.7rem;
    color: black; }

.step {
  color: #00c2e4; }

.project-content {
  padding-left: 10%;
  width: 95%; }

.text-content {
  margin: 0 5%;
  max-width: 50rem; }
  .text-content .p-style {
    padding-top: 1rem;
    min-height: 10rem; }

figure {
  margin: 0; }

.grids-4 {
  max-width: 25%;
  height: 100%;
  display: block; }

.grids-3 {
  max-width: 33%;
  height: 100%;
  display: block;
  padding: 1% 1% 0 0; }

.amorphous-cat-gif {
  max-width: 19%; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  margin: auto; }

.mySlides {
  display: none; }
  .mySlides img {
    position: absolute;
    height: 100%;
    width: auto;
    z-index: -1; }

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background: rgba(0, 0, 0, 0.18); }

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background: rgba(0, 0, 0, 0.5); }

/* Caption text */
.text {
  background: rgba(0, 0, 0, 0.28);
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center; }

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  text-shadow: 1px 2px 2px black; }

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  -o-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease; }

.active, .dot:hover {
  background-color: #717171; }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

.indented {
  margin: 15% 2rem 2rem 5%; }

.scroll-down {
  position: absolute;
  left: 20%;
  z-index: 10;
  bottom: 0;
  margin: 7% 0;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  opacity: 0.8; }
  .scroll-down:hover {
    margin-bottom: 4%;
    opacity: 1;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease; }
