/* We can set up preprocessing to combine files */
/* ------------- variables ------------- */
/* ------------- body layout ------------- */
@import url(../slick/slick.css);
@import url(../slick/slick-theme.css);
@import url(lightgallery.css);
body {
  font-family: 'Roboto Mono', sans-serif;
  /*padding: 1em;*/
  margin: 0; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

ol {
  word-wrap: break-word; }

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 0; }

img {
  max-width: 100%;
  height: auto; }

.cell img {
  display: block; }

.cell {
  display: inline-block;
  width: calc(16.6666% - 2.5rem);
  margin: 1rem; }

.responsive-image {
  max-width: 100%; }

a {
  text-decoration: none; }

strong {
  color: black; }

em {
  font-weight: 100;
  font-size: 0.8rem;
  color: grey; }

figcaption {
  font-style: italic;
  margin: 0.5rem; }

/* ------------- styling of atoms ------------- */
[class*="head-"] {
  font-family: 'Poppins', sans-serif; }

.head-1 {
  font-family: 'Roboto Mono', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 0;
  font-size: 200%;
  text-transform: uppercase;
  font-weight: bold; }

.head-2 {
  font-size: 1.7em;
  letter-spacing: 0.2rem;
  /*border-top: solid black 1px;*/
  display: inline-block;
  text-transform: uppercase;
  margin: 0; }

.head-3 {
  font-size: 1.2rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: bold; }

.head-4 {
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
  /*text-transform: uppercase;*/ }

[class*="centered"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.p-style {
  font-family: 'Roboto Mono', sans-serif;
  padding: 1rem 0;
  margin-bottom: 0;
  line-height: 28px;
  color: grey;
  font-size: 1rem; }

.footer-label {
  display: inline-block;
  font-weight: 400;
  position: absolute;
  left: 30px;
  top: 3px;
  font-size: 0.8rem; }

.nav-default {
  background-color: white;
  -webkit-box-shadow: 5px 5px 10px rgba(118, 143, 165, 0.47);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
  padding: 0.5rem 2.2rem;
  /*text-align: right;*/
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.nav-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100000;
  background-color: white;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding: 0.5rem 0; }

#sticky-logo {
  position: absolute;
  left: 4%;
  width: 23px;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  top: 18%; }

#sticky-logo:hover {
  width: 32px; }

.nav-title {
  position: relative;
  font-size: 1.2em;
  display: inline;
  font-size: 2.5rem;
  letter-spacing: 3px;
  text-decoration: none; }

.nav-logo-link,
.nav-logo-link:visited {
  text-decoration: none;
  color: #333333; }

.nav-link,
.nav-link:visited {
  /*margin-bottom: 1rem;*/
  font-size: 1.2em;
  text-align: center;
  display: inline;
  text-decoration: none;
  text-transform: uppercase;
  color: #333333;
  opacity: 0.7;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-right: 1%; }

.hidden {
  display: none; }

.nav-link:hover {
  border-bottom: solid 2px #333;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 1; }

#nav-toggle {
  z-index: 10000;
  color: black;
  background: white; }

#nav-items {
  position: relative;
  top: 0;
  animation: 1s ease-in;
  -webkit-animation: 1s ease-in;
  background: #efefef;
  z-index: -1000; }

.mobile-row {
  padding: 0.7rem 0;
  display: block;
  text-decoration: none;
  width: 100%;
  text-align: center;
  font-family: 'Roboto Mono', sans-serif; }

[class*="button-"] {
  font-size: 1.2em;
  padding: 0.5rem 0;
  border: none;
  text-transform: uppercase;
  border-radius: 0.3rem;
  letter-spacing: 2px;
  /*margin: 1rem;*/
  width: 100%;
  height: 3rem;
  -webkit-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
  margin: 0.5rem 0;
  cursor: pointer; }

.button-link,
.button-link:visited {
  background: none;
  color: grey;
  width: auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .button-link:hover,
  .button-link:visited:hover {
    color: black;
    text-shadow: 5px 5px 10px rgba(118, 143, 165, 0.47);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }

.our-black {
  background: black;
  color: white; }

.our-grey {
  background: #f0fbff;
  color: black; }

.our-pink {
  background: #ff9787;
  color: white; }

.our-blue {
  background: #00c2e4;
  color: white; }

[id*="section-"] {
  margin: 0 2rem 5rem 0;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

#section-paragraph {
  width: 50%;
  margin-left: 10%; }

.my-name .head-1 {
  font-size: 4em; }

#hero {
  width: 100%;
  height: 88vh; }

.hero-icons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative; }

.hero-link {
  margin: 0 3%; }

#featured {
  height: 65vh; }

.featured-description {
  margin: 35% 0 30% 15%;
  color: white;
  text-decoration: none;
  text-shadow: 5px 5px 10px #7d7575; }
  .beep .featured-description {
    text-align: left;
    padding-left: 20%; }
  .amorphous .featured-description {
    text-align: left;
    padding-left: 7%; }
  .featured-description .head-1 {
    font-size: 180%; }
  .featured-description .head-4 {
    margin-top: 1rem; }

.featured-img {
  max-width: 30rem; }

#projects {
  padding: 5% 0 0;
  -webkit-box-shadow: 5px 5px 10px rgba(118, 143, 165, 0.47);
  box-shadow: 5px 5px 10px rgba(118, 143, 165, 0.47); }
  #projects .project-header {
    margin: 4%;
    text-shadow: 5px 5px 10px rgba(118, 143, 165, 0.47);
    color: black;
    max-width: 10rem; }

.project-row {
  min-height: 45vh; }

[id*="bg-"] {
  background-repeat: no-repeat;
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  background-position: center;
  width: 27%; }
  [id*="bg-"]:hover {
    background-color: #00d8fe;
    -webkit-box-shadow: 5px 5px 10px rgba(118, 143, 165, 0.47);
    box-shadow: 5px 5px 10px rgba(118, 143, 165, 0.47); }

#bg-beep {
  background-image: url("../img/beep2/beep2BG.png");
  background-size: 80%; }
  #bg-beep:hover {
    background-size: 85%;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear; }

#bg-brg {
  background-image: url("../img/brg/brgBG.png");
  background-size: 80%; }
  #bg-brg:hover {
    background-size: 85%;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear; }

#bg-lunular {
  background-image: url("../img/lunular/lunularBG.png");
  background-size: 80%; }
  #bg-lunular:hover {
    background-size: 85%;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear; }

#bg-m2m {
  background-image: url("../img/m2m/devices.png");
  background-size: 80%; }
  #bg-m2m:hover {
    background-size: 85%;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear; }

#bg-amorphous {
  background-image: url("../img/amorphous/astronaut-render.png");
  background-size: 23%; }
  #bg-amorphous:hover {
    background-size: 25%;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear; }

#bg-evidentp {
  background-image: url("../img/evidentpoint/preview.png");
  background-size: 80%; }
  #bg-evidentp:hover {
    background-size: 85%;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear; }

#bg-eyexpo {
  background-image: url("../img/eyexpo/techglobe.png");
  background-size: 70%; }
  #bg-eyexpo:hover {
    background-size: 75%;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear; }

#bg-banners {
  background-image: url("../img/streetbanners/final.png");
  background-size: 60%; }
  #bg-banners:hover {
    background-size: 66%;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear; }

#bg-illus {
  background-image: url("../img/illustrations/preview.png");
  background-size: 80%; }
  #bg-illus:hover {
    background-size: 85%;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear; }

.proj-article {
  max-width: 25%;
  height: 35vh; }

.proj-description {
  color: white;
  -ms-flex-item-align: end;
  align-self: flex-end;
  padding: 5% 10%;
  width: 100%;
  background-color: rgba(35, 24, 130, 0.25); }

.about-img {
  position: relative;
  z-index: -1; }

.about-text {
  max-width: 37rem;
  padding: 10rem 0 3rem 2%; }

.about-resume,
.about-resume:visited {
  color: black;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  display: block;
  font-weight: bold; }
  .about-resume:hover,
  .about-resume:visited:hover {
    color: #00c2e4;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear; }

.half-img {
  width: 50%;
  height: auto;
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding-left: 1%; }

.half-text {
  width: 50%; }

.fullW-text {
  padding-left: 2%; }

.fullW-img {
  padding-top: 2%; }

.padded-text {
  margin: 2rem 8%; }

#footer {
  margin-top: 5rem; }

footer .nav-title {
  color: #00c2e4;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold; }

.nav-title:visited {
  color: #00c2e4; }

.contact {
  font-style: italic;
  color: #f5f5f5;
  font-size: 0.9rem;
  position: relative;
  display: block;
  color: black; }
  .contact .email:visited {
    color: #f5f5f5;
    display: block; }
  .contact .material-icons {
    border: none;
    padding: 0;
    margin: 0; }

.email {
  margin-top: 1rem; }

.footer-link-section-title {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 0.8rem;
  color: black; }

.footer-link {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 0.8rem;
  color: black;
  text-decoration: none;
  opacity: 0.4;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear; }

.footer-link:hover,
.nav-title:hover,
.email:hover,
.contact:hover {
  color: #00c2e4;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
  opacity: 1;
  text-shadow: 5px 5px 10px rgba(118, 143, 165, 0.47); }

.footer-top {
  padding: 1.5rem;
  /*text-align: center;*/
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 10rem; }

.footer-personalInfo {
  position: relative;
  margin: 2% 0;
  width: 40%;
  max-width: 30rem; }

.footer-listings-section {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.footer-listing {
  margin: 3%; }
  .footer-listing li {
    margin: 3% 0; }

.footer-bottom {
  padding: 0.8rem;
  /*text-align: center;*/
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #2a2a2a; }

.copyright {
  color: grey;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 0.7rem;
  text-decoration: none;
  letter-spacing: 0.3rem; }

.social-icon {
  max-width: 24px;
  height: auto;
  opacity: 0.7;
  margin: 0 0.5rem 0 0;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }

.material-icons {
  border: 3px solid white;
  border-radius: 2rem;
  padding: 0.2rem;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease; }

.material-icons.md-light {
  color: white; }

.nc-icon {
  width: 21px; }

.tooltip {
  position: relative;
  margin: 0 1.5% 3%;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }

.tooltip .tooltiptext {
  opacity: 0;
  width: 50px;
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 0.8rem;
  -webkit-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  text-transform: uppercase;
  /* Position the tooltip */
  position: absolute;
  z-index: 100;
  top: -52px;
  left: 0; }

.tooltip:focus .tooltiptext,
.tooltip:hover .tooltiptext {
  opacity: 1; }

.social-icon:hover {
  opacity: 1;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }

.top-link {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  background: black;
  display: inline-block;
  text-align: center;
  position: fixed;
  z-index: 4;
  bottom: 2%;
  padding-top: 0.8rem;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  color: white;
  text-decoration: none;
  right: 2%;
  opacity: 0.3;
  z-index: 100000; }

.top-link:hover {
  opacity: 1;
  color: white;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }

.inline-link,
.inline-link:visited {
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #00c2e4; }

.inline-link:hover {
  color: #1a8496;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: bold;
  text-decoration: underline; }

.about-dropdown {
  -webkit-animation-name: slide-in;
  animation-name: slide-in;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out; }

.hero-dropdown {
  -webkit-animation-name: dropdown;
  animation-name: dropdown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out; }

.hero-hidden {
  height: 30vh;
  width: 100%;
  position: relative;
  top: 0;
  z-index: 50; }

.hero-content {
  position: relative; }

@-webkit-keyframes dropdown {
  from {
    opacity: 0;
    top: -30rem; }
  to {
    top: 0;
    opacity: 1; } }

@keyframes dropdown {
  from {
    opacity: 0;
    top: -30rem; }
  to {
    top: 0;
    opacity: 1; } }

@-webkit-keyframes slide-in {
  from {
    left: -20rem;
    opacity: 0; }
  to {
    left: 0;
    opacity: 1; } }

@keyframes slide-in {
  from {
    left: -20rem;
    opacity: 0; }
  to {
    left: 0;
    opacity: 1; } }

/* ------------- variables ------------- */
body {
  position: relative; }

header {
  width: 100%; }

iframe {
  width: 100%;
  height: 100%;
  border: none; }

figure {
  margin: 0; }

.grids-2 {
  max-width: 50%;
  height: 100%;
  display: block;
  padding: 1% 1% 0 0; }

.grids-4 {
  max-width: 25%;
  height: 100%;
  display: block; }

.grids-3 {
  max-width: 33%;
  height: 100%;
  display: block;
  padding: 1% 1% 0 0; }

#top {
  position: relative; }

[id*="header"] {
  top: 0;
  left: 0;
  width: 65%;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }

#amorphous-header {
  background-image: url("../img/amorphous/preview.png"); }

#beep-header {
  background-image: url("../img/beep/preview.jpg"); }

#beep2-header {
  background-image: url("../img/beep2/beepCover.jpg"); }

#cycle-header {
  background-image: url("../img/streetbanners/preview.png"); }

#eyexpo-header {
  background-image: url("../img/eyexpo/preview.jpg"); }

#brg-header {
  background-image: url("../img/brg/BRGoutside.jpg"); }

#m2m-header {
  background-image: url("../img/m2m/m2mBG.jpg"); }

#evidentp-header {
  background-image: url("../img/evidentpoint/headerimg.jpg"); }

#videop-header {
  background-image: url("../img/videoproduction/header.png"); }

#lunular-header {
  background-color: #ffda5b;
  background-image: url("../img/lunular/lunularheader.png"); }

.header-text {
  width: 35%;
  padding-left: 10%;
  position: relative;
  background: white;
  height: 100%; }
  .header-text .head-1 {
    position: relative;
    z-index: 100;
    padding-top: 50%; }

.header-overview {
  font-size: 0.8rem;
  margin-bottom: 10%; }

.header-details {
  padding-top: 10%;
  background: white;
  color: grey;
  font-size: 0.8rem;
  padding-right: 3%; }
  .header-details li {
    padding-bottom: 0.5rem; }

.header-project {
  -webkit-box-shadow: 5px 5px 10px rgba(118, 143, 165, 0.47);
  box-shadow: 5px 5px 10px rgba(118, 143, 165, 0.47); }

#amorphous-header:before,
#beep-header:before,
#beep2-header:before,
#cycle-header:before,
#evidentp-header:before,
#videop-header:before,
#brg-header:before,
#m2m-header:before,
#lunular-header:before,
#eyexpo-header:before {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  border-left: 8vh solid #ffffff;
  border-top: 50vh solid transparent;
  border-bottom: 50vh solid transparent; }

.centered .outlinks {
  color: white;
  margin-left: 5%; }

.left-nav {
  position: fixed;
  top: 2.2rem;
  left: 2%;
  z-index: 10;
  display: inline-block;
  max-width: 10rem;
  opacity: 0.5;
  -webkit-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  transition: 0.6s ease; }
  .left-nav:hover {
    opacity: 0.9;
    -webkit-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    transition: 0.6s ease; }
  .left-nav .nc-icon {
    width: 40px;
    height: auto; }
  .left-nav .home-link,
  .left-nav .home-link:visited {
    font-size: 0.7rem;
    color: black; }

.step {
  color: #00c2e4; }

.step-short {
  color: #00c2e4;
  width: 30%; }

.project-content {
  padding: 7%;
  width: 100%; }

.text-content {
  margin: 0 10% 0 5%;
  max-width: 50rem; }
  .text-content .p-style {
    padding-top: 1rem;
    min-height: 10rem; }

.wide-text {
  width: 70%;
  padding-top: 0;
  max-width: 47rem; }

.amorphous-cat-gif {
  max-width: 19%; }

.indented {
  margin: 15% 8% 2rem 8%; }

.scroll-down {
  position: absolute;
  left: 20%;
  z-index: 10;
  bottom: 0;
  margin: 7% 0;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  opacity: 0.8; }
  .scroll-down:hover {
    margin-bottom: 4%;
    opacity: 1;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease; }
    .scroll-down:hover .material-icons {
      padding: 0.8rem; }

.blk-stroke {
  border: 3px solid black;
  color: black; }

/* Carousel Caption text */
.text {
  background: rgba(0, 0, 0, 0.4);
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center; }

/* This is some default styling for containers */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  clear: both;
  height: auto; }

.container > .block {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-basis: 30em;
  -ms-flex-preferred-size: 30em;
  flex-basis: 30em;
  padding: 0 1rem; }

/* c/o http://www.sketchingwithcss.com/samplechapter/cheatsheet.html */
.container .row-wrap {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }

.container .row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.container .center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: end;
  align-content: flex-end; }

@media (max-width: 25em) {
  #styleguide .sticky-logo {
    position: relative;
    width: 10%;
    opacity: 0.9;
    margin-left: 45%;
    margin-top: 5%; } }

/*screen is smaller than 560px*/
@media (max-width: 35em) {
  .left-nav,
  .right-nav {
    display: none; }
  #styleguide .left-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .vNav {
    display: none; }
  #sticky-logo {
    top: 27%;
    width: 20px;
    left: 3%; }
    #sticky-logo:hover {
      width: 23px; }
  #styleguide .sticky-logo {
    top: 22%;
    width: 6%;
    left: 2%; }
  .hero-icons {
    height: 40%; }
    .hero-icons .material-icons {
      font-size: 15px; }
    .hero-icons .nc-icon {
      width: 15px; }
  .hero-link {
    margin: 3% 3% 0; }
  .my-name {
    padding-left: 10%; }
  .hero-icons,
  .typed-text {
    padding-left: 10%;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left; }
  .project-content {
    padding-left: 0;
    width: 100%; }
  .footer-personalInfo {
    width: 100%;
    margin: 0 5%;
    padding-bottom: 2rem; }
  .footer-listings-section {
    width: 100%;
    margin: 0 5%;
    padding-bottom: 2rem; }
  .footer-listing {
    width: 23%; }
  .outlinks {
    font-size: 0.8rem; }
  .indented {
    margin: 15% 1% 2rem; }
  .code-block {
    width: 100%; }
  body #styleguide {
    margin: 5%; }
  #styleguide .square {
    width: 50%; }
  #projects .project-header {
    padding-left: 10%; }
  body .styleguide-title {
    padding: 30% 0 10% 10%; }
  body #citation {
    padding: 20% 0 0 10%; }
  .wide-text {
    width: 100%;
    max-width: 100%;
    padding-top: 1rem; } }

/*media resizing at 720px*/
@media (max-width: 50em) {
  .head-1 {
    font-size: 200%; }
  .head-3 {
    font-size: 60%; }
  .half-img,
  .half-text {
    width: 100%; }
  .grids-2 {
    max-width: 50%;
    height: auto; }
  .grids-3 {
    max-width: 100%;
    height: auto; }
  #animation .amorphous-cat-gif {
    max-width: 100%; }
  .half-text {
    margin: 0 4% 4% 0; }
  .about-text {
    padding: 0 0 0 10%; }
  .about-img {
    width: 100%;
    max-width: 20rem; }
  #about,
  #featured {
    height: auto; }
  .featured-description {
    margin: 25% 0 30% 10%; }
  .proj-article {
    max-width: 100%;
    height: auto; }
  #projects .project-row {
    min-height: 150vh; }
  iframe {
    height: 20rem; }
  #top #beep-header,
  #top #beep2-header,
  #top #brg-header,
  #top #m2m-header,
  #top #lunular-header,
  #top #illustration-header,
  #top #cycle-header, #top #eyexpo-header,
  #top #evidentp-header,
  .header-project #amorphous-header,
  .header-text {
    width: 100%; }
  #bg-amorphous,
  #bg-beep,
  #bg-illus,
  #bg-banners, #bg-eyexpo,
  #bg-evidentp, #bg-brg,
  #bg-lunular, #bg-m2m,
  #styleguide #bg-beep-1 {
    width: 100%;
    min-height: 10rem; }
  #top #amorphous-header,
  #top #beep-header,
  #top #beep2-header,
  #top #lunular-header,
  #top #brg-header,
  #top #m2m-header,
  #top #cycle-header,
  #top #eyexpo-header,
  #top #illustration-header,
  #top #evidentp-header {
    min-height: 70vh;
    max-height: 70vh; }
  #amorphous-header:before,
  #beep-header:before,
  #beep2-header:before,
  #brg-header:before,
  #m2m-header:before,
  #lunular-header:before,
  #eyexpo-header:before,
  #evidentp-header:before,
  #cycle-header:before {
    display: none; }
  #bg-illus {
    background-size: 60%; }
    #bg-illus:hover {
      background-size: 65%; }
  .header-overview {
    margin-bottom: 0; }
  .header-text {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    padding: 0 5%;
    margin-bottom: 15%; }
    .header-text .head-1 {
      padding-top: 10%; }
  .header-details {
    padding-top: 5%; }
  .img2-block, .img3-block, .img4-block {
    width: 100%; }
  .scroll-down {
    visibility: hidden;
    display: none; }
  .footer-link {
    font-size: 0.7rem; }
  .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .cell {
    width: calc(50% - 2rem); }
  .step-short {
    width: 100%; }
  #projects .project-header {
    margin: 25% 5% 11% 10%;
    max-width: 25rem;
    font-size: 250%; } }

@media only screen and (min-width: 800px) and (max-width: 1475px) {
  #projects .project-header {
    font-size: 120%;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    text-orientation: inherit; } }
