section {
  position: relative;
  margin: 10% 0; }

h3 {
  color: #ff9787; }

code {
  word-wrap: break-word; }

#styleguide {
  margin: 5% 5% 5% 10%; }

.styleguide-title {
  padding: 5% 0;
  margin-bottom: 10%;
  -webkit-box-shadow: 5px 5px 10px rgba(118, 143, 165, 0.47);
  box-shadow: 5px 5px 10px rgba(118, 143, 165, 0.47); }

.block {
  min-height: 12rem; }

.code-block {
  border: 1px solid lightgrey;
  margin: 3%;
  padding: 1rem;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .code-block:hover {
    background-color: #f0fbff; }

/* color palette squares */
/* c/o http://codeitdown.com/css-square-rectangle/ for this code */
.square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  width: 16%;
  overflow: hidden;
  /*margin: 0.5%;*/
  /*float: left;*/
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: white;
  font-size: 0.9rem;
  /*border-radius: 8px;*/
  padding: 1rem;
  text-align: center;
  -webkit-box-shadow: 0 10px 30px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 30px 2px rgba(0, 0, 0, 0.2); }

.square:before {
  content: "";
  display: block;
  padding-top: 100%; }

.square-content {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  text-shadow: 5px 5px 10px rgba(118, 143, 165, 0.47); }

.square-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: white; }

#bg-beep {
  width: 100%; }

#bg-beep-1 {
  background-image: url("../img/beep/concept3.png");
  width: 33%;
  background-size: 80%; }
  #bg-beep-1:hover {
    background-size: 85%;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear; }

.sticky-logo {
  position: absolute;
  left: 4%;
  width: 30px;
  top: 16%;
  opacity: 0.9; }

#citation {
  min-height: 100vh;
  padding: 10% 0 0 10%; }
