body{
  position: relative;
}

section{
  padding: 0 0 10% 0;
}

header{
  width: 100%;
}

#amorphous-header{
  background-image: url(../img/amorphous/header.jpg);
  top: 0;
  left: 0;
  height: 70vh;
  width: 65%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // z-index: 1000;
  display: flex;
}

#beep-header{
  background-image: url(../img/beep/preview.jpg);
  top: 0;
  left: 0;
  height: 70vh;
  width: 65%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // z-index: 1000;
  display: flex;
}


.header-text{
  // margin-top: auto;
  width: 35%;
  padding-left: 10%;
  position: relative;
  background: white;

  .head-1{
    //project title text
    // position: absolute;
    // top: 25%;
    padding-top: 50%;
  }
}

.header-details{
  // position: absolute;
  // top: 55%;
      padding-top: 25%;
  background: white;
  color: grey;
  font-size: 0.8rem;
  padding-right: 3%;

  li{
    padding-bottom: 0.5rem;
  }
}

.left-nav{
position: fixed;
top: 2.2rem;
left: 2%;
z-index: 10;
display: inline-block;
max-width: 10rem;
}

.right-nav{
  top: 1.8rem;
  position: fixed;
  top: 2.2rem;
  right: 2%;
  z-index: 100;
  display: inline-block;
  width: 5rem;
}

#overview{
  padding: 2rem 0 2rem 10%;
  // background: whitesmoke;
  margin-bottom: 2rem;

}

.project-content{
  padding-left: 10%;
  width: 95%;
}

.text-content{
  padding:0 7%;
  max-width: 30rem;

  .p-style{
    padding-top: 1rem;
  }
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background:rgba(0, 0, 0, 0.28);
}

/* Caption text */
.text {
  background:rgba(0, 0, 0, 0.28);
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


//iframe

.iframe-video{
  position: relative;
  height: 0;
  overflow: hidden;
  width: 100%;
height: 100%;
}
