head
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(charset="utf-8")

  title="Nancy Chen- "+pageTitle

  link(rel="stylesheet" href="css/main.css")
  link(rel="stylesheet" href="css/projects.css")
  link(rel="stylesheet" href="css/grids.css")
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins")
  link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")

  

    
