nav(id="nav-default")
  div(class="left-nav")
    div(class="head-3 my-name") nancy chen
    a(class="head-3 button-link" href="index.html") Home 
    
nav(class="hidden" id="nav-toggle")
  div(class="mobile-row" id="name-row")
    div(class="nav-title head-1") Nancy Chen
  div(class="" id="nav-items")
    a(class="mobile-row" href="index.html")
      div(class="nav-link") Home
    a(class="mobile-row" href="index.html#about")
      div(class="nav-link") About
    a(class="mobile-row" href="index.html#projects")
      div(class="nav-link") Projects    
    a(class="mobile-row" href="")
      div(class="nav-link") Resume
    div(class="mobile-row")
      a(href="")
        img(alt="black linkedin icon" class="social-icon" src="img/icons/blk-linkedin.png")
      a(href="")
        img(alt="black email icon" class="social-icon" src="img/icons/blk-linkedin.png")
        
        
